<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 mt-5">

      <h1>Login - Reactive Forms</h1>

      <form [formGroup]="formGroupLogin">

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="form-control" formControlName="username">

          <div *ngIf="getUsername().invalid && getUsername().touched" class="cl-red">
            <div *ngIf="getUsername().hasError('required')">
              Este campo es requerido
            </div>

            <div *ngIf="getUsername().hasError('minlength')">
              Este campo requiere mínimo 5 caracteres
            </div>

            <div *ngIf="getUsername().hasError('pattern')">
              Este campo permite el patrón configurado
            </div>

          </div>

        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" formControlName="password">

          <div *ngIf="getPassword().invalid && getPassword().touched" class="cl-red">
            <div *ngIf="getPassword().hasError('required')">
              Este campo es requerido
            </div>

            <div *ngIf="getPassword().hasError('minlength')">
              Este campo requiere mínimo 5 caracteres
            </div>

            <div *ngIf="getPassword().hasError('pattern')">
              Este campo permite el patrón configurado
            </div>

          </div>

        </div>

        <button class="btn btn-primary" [disabled]="!formGroupLogin.valid">Login</button>

      </form>

      <div>
        {{ formGroupLogin.value | json }}
      </div>

    </div>
  </div>
</div>